<div class="content">
  <h1>A verseny véget ért. Köszönjük, hogy részt vettetek!</h1>
  <div class="feladatok">
    <span>Feladatokat készítették</span>
    <span class="name">Raheel Hood</span>
    <span class="name">Nansi Day</span>
    <span class="name">Katie Durham</span>
    <span class="name">Maria Schmidt</span>
    <span class="name">Rae Mcdowell</span>
    <span class="name">Shakir Banks</span>
    <span class="name">Jorden Cassidy</span>
  </div>
  <div class="developers">
    <span>Webfejlesztők</span>
    <span class="name">Kit Hendricks</span>
    <span class="name">Kaden Woodward</span>
    <span class="name">Kailan Plant</span>
    <span class="name">Boris Rodrigues</span>
    <span class="name">Bodhi Stout</span>
    <span class="name">Omer Stamp</span>
  </div>
</div>