<div class="loginbox" *ngIf="!hide">
  <img src="assets/images/logo.svg" alt="" class="image">
  <span class="logintext">Bejelentkezés</span>
  <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
      <mdc-form-field>
        <mdc-text-field [helperText]="formHelperUsername" class="username" formControlName="username"
                        label="Felhasználónév" minlength="3" outlined required></mdc-text-field>
        <mdc-text-field-helper-text #formHelperUsername="mdcHelperText" validation>
          <span *ngIf="loginForm.controls['username'].hasError('required')">Felhasználónév kötelező</span>
          <span *ngIf="loginForm.controls['username'].hasError('minlength')">Felhasználónév nem elég hosszú</span>
        </mdc-text-field-helper-text>

        <mdc-text-field [helperText]="formHelperPassword" class="passwd" formControlName="password" label="Jelszó"
                        minlength="3" outlined required type="password"></mdc-text-field>
        <mdc-text-field-helper-text #formHelperPassword="mdcHelperText" validation>
          <span *ngIf="loginForm.controls['password'].hasError('required')">Jelszó kötelező</span>
          <span *ngIf="loginForm.controls['password'].hasError('minlength')">Jelszó nem elég hosszú</span>
        </mdc-text-field-helper-text>

        <button [disabled]="!loginForm.valid" class="button" mdc-button outlined primary type="submit">Bejelentkezés
        </button>
      </mdc-form-field>
    </form>

</div>
